* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  width: 100%;
  max-width: 1920px;
  height: 100px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.nav-header {
  font-size: 30px;
}

.nav-header a {
  text-decoration: none;
  color: black;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 500px;
  font-size: 24px;
}

.links a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/*Slider CSS*/

.slider-container {
  border: 5px solid black;
  margin: 0 auto;
  width: 800px;
  height: 600px;
  max-width: 80rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 4rem;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: grey;
  color: white;
  display: grid;
  place-items: center;
  transition: all 0.25s ease-in-out;
  text-align: center;
}
.slide-img {
  width: 800px;
  height: 600px;
  object-fit: cover;
}
.slide h1 {
  font-size: 5rem;
}

.slide:nth-child(1) h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
  margin-bottom: 70px;
}
.prevBtn,
.nextBtn {
  background: transparent;
  border-color: transparent;
  font-size: 1.75rem;
  cursor: pointer;
  margin: 0 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: grey;
  transition: all 0.3s linear;
}

.prevBtn:hover,
.nextBtn:hover {
  color: tomato;
}

@media screen and (min-width: 576px) {
  .slider-container {
    height: 45vh;
  }
}
@media screen and (min-width: 768px) {
  .slider-container {
    height: 55vh;
  }
}
@media screen and (min-width: 992px) {
  .slider-container {
    height: 65vh;
  }
}

/*Slider CSS*/

/*New Arrival*/
.title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
  height: 100px;
}

.division {
  width: 300px;
  height: 0.1rem;
  background: grey;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 5rem 5rem;
  justify-items: center;
}

.menu-item {
  display: grid;
  gap: 5rem 5rem;
  width: 540px;
  cursor: pointer;
}

.menu-item:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.2s linear;
}

.photo {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border: 0.25rem solid black;
  border-radius: 10px;
}
.menu-item header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted grey;
}

@media screen and (min-width: 400px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    width: 200px;
    height: 175px;
  }
}

@media screen and(min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    width: 200px;
    height: 175px;
  }
}

@media screen and (min-width: 1000px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}
/*New Arrival*/
