* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  width: 100%;
  max-width: 1920px;
  height: 100px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.nav-header {
  font-size: 30px;
}

.nav-header a {
  text-decoration: none;
  color: black;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 500px;
  font-size: 24px;
}

.links a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/*Filter Buttons*/
.btn-container {
  margin: 4rem;
  display: flex;
  justify-content: space-around;
}

.filter-btn {
  background: transparent;
  border-color: black;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: 10px;
  padding: 0.375rem 0.75rem;
  color: black;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: tomato;
  border-color: tomato;
  color: white;
  transition: all 0.3s linear;
}
/*Filter Buttons*/

/*items*/
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 5rem 5rem;
  justify-items: center;
}

.menu-item {
  display: grid;
  gap: 5rem 5rem;
  width: 540px;
  max-width: 540px;
}

.photo {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border: 0.25rem solid black;
  border-radius: 10px;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted grey;
}

.item-info h4 {
  margin-bottom: 0.5rem;
}

.price {
  color: black;
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 400px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    width: 200px;
    height: 175px;
  }
}

@media screen and (min-width: 1000px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }

  .photo {
    height: 150px;
  }
}
/*items*/
